html {
    background-color: rgb(15, 15, 15);
    color: white;
}

.btn {
    padding: .5rem;
    border-radius: .5rem;
    margin-right: .5rem;
    border: none;
}

.btn:hover{
    background-color: rgb(219, 219, 219);
}

.app {
    max-width: 45rem;
    background-color: rgb(5, 5, 5);

    .app-title {
        text-align: center;
    }

    .osz-form {
        padding: 2rem;
        text-align: center;
    }

    .difficulty-selector {
        padding: 2rem;
        background-color: rgb(5, 5, 5);
        
        .difficulty {
            background-color: rgb(37, 82, 139);
            border-radius: .5rem;
            margin-bottom: .5rem;
            text-shadow: 1px 1px #000000;
            padding: .25rem;
            
            h6 {
                padding: .5rem;
                margin: .1rem;
                cursor: pointer;
            }
        }

        .difficulty:hover {
            background-color: rgb(31, 67, 114);
        }

        margin-bottom: 1rem;
    }
}